<div class="footer"><div class="section-editor"><i class="fa fa-cogs"></i></div><div class="footer-left">Made with Love in Bangalore</div><div class="footer-centre">Copyright Demosite</div><div class="footer-right">powered by <a href="www.moonpitch.com">moonpitch</a></div></div>