<div data-ng-init="getHeaderValues()" data-ng-style="{'background-color': headerbg}" class="section-header"><div class="header-logo">logo</div><div data-ng-repeat="val in nav" class="header-nav"><div class="nav-list">{{val.name}}<a href="{{val.link}}"></a></div></div></div>