/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before, .section:before, .section-header:before, .header-nav:before, .cf:after, .section:after, .section-header:after, .header-nav:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after, .section:after, .section-header:after, .header-nav:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf, .section, .section-header, .header-nav {
  *zoom: 1; }

.section, .section-header {
  width: 80%;
  min-height: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #249892;
  position: relative;
  padding-left: 10%;
  padding-right: 10%; }

.page-sections {
  width: 100% !important;
  left: 0 !important;
  background-color: #fff; }

.section-editor {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  background-color: #eaeaea;
  cursor: pointer;
  text-align: center; }

.section-header {
  min-height: 20px; }

.header-logo {
  float: left;
  color: #249892;
  font-weight: bold;
  font-size: 30px; }

.header-nav {
  float: right;
  color: #666; }

.nav-list {
  float: left;
  padding: 10px;
  text-align: center;
  cursor: pointer; }

.section-hdr {
  text-align: center;
  width: calc(100% - 40px);
  padding: 20px;
  color: #666;
  font-size: 40px;
  line-height: 30px; }

.hero-desc {
  text-align: center;
  width: calc(100% - 40px);
  padding: 20px;
  color: #eaeaea;
  font-size: 18px;
  line-height: 26px; }

.hero-btn {
  width: 100px;
  background-color: #21BA45;
  color: #fff;
  margin: 20px auto;
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
  padding: 5px;
  text-align: center;
  cursor: pointer; }

.section-add {
  width: 40px;
  height: 40px;
  line-height: 44px;
  font-size: 30px;
  background-color: #fff;
  color: #249892;
  border: 1px solid #249892;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 20px);
  text-align: center;
  border-radius: 50%;
  cursor: pointer; }

.team-mmbr-wrpr {
  width: 20%;
  display: inline-block;
  text-align: center;
  margin-bottom: 40px;
  vertical-align: text-top; }

.team-pic {
  width: 80%;
  height: 0;
  padding-bottom: 80%;
  background-color: #249892;
  margin-left: 10%;
  margin-right: 10%;
  position: relative; }

.add-team {
  font-size: 120px;
  color: #fff;
  cursor: pointer;
  top: calc(50% - 60px);
  left: calc(50% - 35px);
  position: absolute; }

.team-desc {
  margin-top: 20px;
  color: #666; }

.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999; }

.add-section {
  width: 80%;
  height: 80vh;
  background-color: #fff;
  border-radius: 2px;
  overflow-y: auto;
  margin: 10vh auto; }

.add-avlbl-section {
  width: 80%;
  margin-left: 10%;
  border-bottom: 1px solid #249892;
  padding: 20px 0; }

.add-section-name {
  font-size: 20px;
  color: #249892;
  cursor: pointer; }

.add-section-preview {
  width: 80%;
  height: 200px;
  background-color: #eaeaea;
  margin: 20px auto; }

.add-section-desc {
  width: 80%;
  text-align: center;
  color: #249892; }

.footer {
  padding: 60px 20px 40px 20px; }

.footer-left {
  width: 33.33%;
  text-align: left;
  display: inline-block; }

.footer-centre {
  width: 33.33%;
  text-align: center;
  display: inline-block; }

.footer-right {
  width: 33.33%;
  text-align: right;
  display: inline-block; }
